Repository hyeeyoung/wishboard-server, pull requests merged in 2022-01, with the labels that each got.

#24 [fix] pm2 dependencies 추가
  package-lock.json
  package.json
Labels: fix

#23 [mod] 홈조회 + 상세조회 병합, update/delete 시 유저 검증 추가
  src/controllers/itemController.js
  src/models/item.js
  src/routes/itemRoutes.js
Labels: mod

#29 [mod] cart select 시 요청 retun 값 변경
  src/models/cart.js
Labels: mod

#31 [refator] cart 조회 리팩토링
  src/dto/cartResponse.js
  src/models/cart.js
Labels: refactor

#32 [fix] 프론트에서 받는 return 값과 달라 null 에러 발생하여 통일하게 변경
  src/dto/cartResponse.js
Labels: fix

#33 [feat] 알림 기능 구현
  .gitignore
  src/controllers/notiController.js
  src/models/noti.js
  src/routes/notiRoutes.js
  src/utils/response.js
  src/utils/strings.js
Labels: feat

#35 [fix] firebase initializeApp 사용 시 json 파일을 찾지 못하는 오류 해결
  .gitignore
  package-lock.json
  src/controllers/notiController.js
  webpack.config.js
Labels: bug, fix, mod

#37 [fix] 홈조회 시 cart_item_id -> cart_state로 변경하고 true/false 값으로 전달
  src/models/item.js
Labels: mod

#38 [fix] 카트조회 시 cart_item_id -> cart_state로 변경하고 true/false 값으로 전달
  src/dto/cartResponse.js
  src/models/cart.js
Labels: mod

#39 [mod] 수정 요청 방식 변경으로 쿼리 변경
  src/controllers/cartController.js
  src/models/cart.js
Labels: mod

#41 [feat] ESLint, Prettier 파일 추가 및 사용하지 않는 dependencies 삭제
  .eslintrc.json
  .prettierrc.js
  package-lock.json
  package.json
Labels: feat

#42 [mod] 카트 create_at 필드 추가 및 조회 시 최신순으로 정렬
  src/models/cart.js
Labels: fix, mod
